@import url('https://fonts.googleapis.com/css2?family=Coda&display=swap');

:root
{
    font-family: 'Coda', cursive;
    color: white;
}

a
{
    text-decoration: none;
    color: inherit;
}

body
{
    margin: 0;
    background-color: #0a0a23;
}

.btn
{
    display: block;
    margin: 2em auto 0 auto;
    background: gold;
    font-family: inherit;
    font-weight: bold;
    font-size: larger;
    border: 2px solid black;
    width: 8em;
    height: 3em;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn
{
    transition: 0.3s;
}

.btn:hover
{
    background: transparent;
    color: white;
    border: 1px solid white;
}

.btn, nav
{
    border-radius: 3px;
}

.comment
{
    font-size: larger;
}

#contact
{
    height: 50vh;
    padding-top: 10em;    
}

#contactHeader, h1
{
    
    margin-bottom: 0;
}

#contactHeader, h1, #projectsHeader
{
    font-size: 300%;
    text-align: center;
}


#contactIntro
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

#contactLinks
{
    margin-top: 3em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: larger;
}


#fcc
{
    display: flex;
    width: 7.5em;
    justify-content: space-evenly;
    align-items: center;
}

footer
{
    padding: 2em 0 2em 0;
    text-align: center;
    border-top: 2px solid gold;
    width: 100%;
}


#gitHub
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 5.5em;
}


#gitHub:hover, #fcc:hover
{
    transform: scale(1.2);
}

html
{
    scroll-behavior: smooth;
}

img
{
    width: 25em;
    height: auto;
}


.linkImg
{
    width: 2em;
}

#projects
{
   padding-top: 5em; 
}

#projectsGrid
{
    display: grid;
    grid-template-columns: repeat(3, 25em); 
    grid-column-gap: 2em;
    grid-row-gap: 2em;
    text-align: center;
    justify-content: center;
}


.projectText
{
    margin-top: 0.8em;
}

.project-tile, .tileImage
{
    border-radius: 5px;
}

.project-tile, #gitHub, #fcc
{
    transition: transform 800ms;
}

.project-tile:hover
{
    transform: scale(1.08);
    box-shadow: 0 0 0.3em 0.15em #806000;
}

#welcome-section
{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav
{
    background-color: gold;
    color: black;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0.1;
    right: 0;
    left: 0;
    z-index: 1;
}

nav a
{
    text-decoration: none;
    padding: 1.5em;
    font-size: medium;
    color: black;
    justify-content: center;
    text-align: center;
}


@media (max-width: 1024px)
{  
  .comment
  {
    font-size: large;
  }
  
  #contactHeader, h1
  {
      font-size: 300%;
  }

  img, project-tile
  {
    width: 23em;
  }
  
  nav
  {
    justify-content: center;
  }
  
  #projectsGrid
  {
    display: flex;
    flex-direction: column;
  }
  
  #projectsHeader
  {
    font-size: 300%;
    margin-bottom: 1em;
  }
  
  .project-tile
  {
    box-shadow: 0 0 0.3em 0.1em #806000;
    display: block;
    margin: 0 auto 1.5em auto;
    transform: none;
    animation-name: none;
  }
  
}

@media (max-width: 800px)
{  
  .comment
  {
    font-size: large;
  }
  
  #contactHeader, h1
  {
      font-size: 200%;
  }

  img, project-tile
  {
    width: 21em;
  }
  
  nav
  {
    justify-content: center;
  }
  
  #projectsGrid
  {
    display: flex;
    flex-direction: column;
  }
  
  #projectsHeader
  {
    font-size: 160%;
    margin-bottom: 1em;
  }
  
  .project-tile
  {
    box-shadow: 0 0 0.3em 0.1em #806000;
    display: block;
    margin: 0 auto 1.5em auto;
    transform: none;
    animation-name: none;
  }
  
}